; Hermes Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfMppts=4

[JsonFormat]
packetTitle=Helios

[SerialPort]
portName=/dev/pts/7
baudrate=115200

[Mqtt]
exchangeName=hermesExchange
ipAddress=127.0.0.1
port=6969

[Logging]
logLevel=3
loggingEnabled=true
