; Schulich Epsilon Hermes Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfMppts=4

[JsonFormat]
packetTitle=Gen5

[SerialPort]
portName=/dev/pts/7
baudrate=115200

[OutputSerialPort]
outputSerialEnabled=false
portName=/dev/pts/8
baudrate=115200

[RabbitMq]
exchangeName=hermesExchange
ipAddress=127.0.0.1
port=5672

[Logging]
logLevel=3
loggingEnabled=true
