; Schulich Epsilon Hermes Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfCmus=4
numberOfMppts=3

[JsonFormat]
packetTitle=Gen5

[SerialPort]
portName=/dev/pts/7
baudrate=9600

[UdpAddress]
ipAddress=239.255.43.21
port=44550

[rabbitMQ]
exchangeName=hermesExchange
